
<hr/>
<h3>Django Hello, World 5 Different Ways</h3>

<ul>
  <li><a href="{% url 'pages:index' %}">/index</a> - "Traditional" approach: dedicated app for static pages and inherited TemplateView</li>
  <li><a href="{% url 'pages:about' %}">/about</a> - ... </li>
</ul>

<ul>
  <li><a href="{% url 'pages:fbv-index' %}">/fbv-index</a> - function-based view</li>
</ul>

<ul>
  <li><a href="{% url 'pages:no-template' %}">/no-template</a> - bare HttpResponse</li>
</ul>


<ul>
  <li><a href="{% url 'pages:no-app' %}">/no-app</a> - no app (bare TemplateView)</li>
</ul>

<ul>
  <li><a href="{% url 'posts:posts-detail' 1 %}">/api/posts/1</a> - models</li>
</ul>

<hr>

<h3>APIs (testing/sandbox)</h3>
<ul>
  <li><a href="{% url 'common:health-check' %}">/health-check</a> - simple API health-check</li>
  <li><a href="{% url 'common:test-exception' %}">/test-exception</a> - triggers an exception "405 Method Not Allowed", for testing</li>
  <li><a href="{% url 'common:project-version' %}">/project-version</a> - project version as defined in SOURCE_TAG env variable</li>
  <li><a href="{% url 'common:email-admins' %}">/email-admins</a> - test celery task for sending email to admins</li>
  <li><a href="{% url 'common:db-conn-status' %}">/db-conn-status</a> - simple DB connection status check "SELECT 1"</li>

</ul>
