{% extends "layouts/base.html" %}

{# djlint:off #}
{% block title %}
  Home
{% endblock title %}
{# djlint:on #}


{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>{{ SITE_NAME }}</h1>
      <p>You've successfully set up a Django base site. Start Coding!</p>
      <p>
        <a href="https://docs.djangoproject.com/en/dev/"
           class="btn btn-primary btn-lg"
           target="_blank">Read Django documentation »</a>
      </p>
    </div>
  </div>
{% endblock content %}
